html {
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #9ae2b6;
}

h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
}


h2 {
    margin-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h3 {
    color: white;
    text-shadow: 1px 1px 1px black;    
}

.game-board {
    display: flex;
}

.ai {
    width: 33%;
    
}

.player {
    width: 33%;
}

.buttons {
    width: 33%;
}

button {
    width: 70%;
    margin: 25px 0;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Indie Flower', cursive;
    border: none;
    background: #6cb2b5;
    color: #FFFFFF;
    transition: all 150ms linear;
    box-shadow: 0 1px 5px 0 gray;
    border: 5px solid #4f898c;
    text-shadow: 1px 1px 1px black;
    
    border-radius: 45px 10px 45px 10px;
}

button:active {
    position: relative;
    top: 2px;
    opacity: .75 !important;
}

button:hover {
   transition: all 250ms linear;

   opacity: .85;
}

.points {
    font-size: 2em;
    margin-top: 0px;
}

img {
    width: 300px;
    height: 300px;
}

h4 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
}